<article class="yb-calendar">
  <div class="yb-calendar-background">
    <div class="yb-calendar-background-sidebar"></div>
    <div class="yb-calendar-background-body"></div>
  </div>
  <header class="yb-calendar-header">
    <div class="yb-calendar-row">
      <div class="yb-calendar-sidebar">
        <div class="yb-calendar-year"></div>
        <div class="yb-calendar-month-wrapper">
          <button class="yb-calendar-month-prev"></button>
          <div class="yb-calendar-month"></div>
          <button class="yb-calendar-month-next"></button>
        </div>
      </div>
      <div class="yb-calendar-body">
         <div class="yb-calendar-date-table"></div>
      </div>
    </div>
  </header>
  <section class="yb-calendar-task-list"></section>
  <section class="yb-calendar-routine-list"></section>
</article>
