<article class="yb-calendar">

  <!-- Fill background -->
  <div class="yb-calendar-background">
    <div class="yb-calendar-background-sidebar"></div>
    <div class="yb-calendar-background-body">
      <!-- the table having border lines to split each date -->
      <div class="yb-calendar-splitter"></div>
    </div>
  </div>

  <header class="yb-calendar-header">
    <div class="yb-calendar-row">
      <div class="yb-calendar-sidebar">
        <!-- Current displayed year -->
        <div class="yb-calendar-year"></div>

        <!-- Current displayed month and month changer -->
        <div class="yb-calendar-month-wrapper">
          <button class="yb-calendar-month-prev"></button>
          <div class="yb-calendar-month"></div>
          <button class="yb-calendar-month-next"></button>
        </div>
      </div>
      <div class="yb-calendar-body">
        <!-- Date wrapper -->
        <div class="yb-calendar-date-table"></div>
      </div>
    </div>
  </header>

  <!-- Task list wrapper -->
  <section class="yb-calendar-task-list"></section>

  <!-- Routine task list wrapper -->
  <section class="yb-calendar-routine-list"></section>
</article>
